
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .App1 {
    text-align: center;
    color: white;
    text-shadow: rebeccapurple 0 0 10px;

  }
  
  .header {
    position: relative;
    height: 90vh;
    overflow: hidden;
  }
  
  .header-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    color: white;
    text-shadow: rebeccapurple 0 0 10px;

  }
  